@import url('https://fonts.googleapis.com/css?family=Bitter|Lato:100i,300i,400|Libre+Baskerville&display=swap');
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background: url(./images/wp.jpg);
    background-position: 60% 50%;
    background-attachment: fixed; */
}
a {
    color: black;
    text-decoration: none;
}
/* .navleft:before, .navright:after, .navmid:after  {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding: 5px;
} */
.big {
    font-size: 3rem;
    line-height: 2rem;
}
.sm {
    font-size: 1.5rem;
    line-height: 1rem;
}
.bot {
    vertical-align: top;
}